*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Wix Madefor Text", sans-serif;
}
.cabecalho {
    background-color: #F8F3DD;
    color: rgb(25, 114, 17);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
} 

.cabecalho-imagem{
    width: 20%;
} 

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 35px;
    font-size: 29px;
}

.imagem-perfume{
    width: 15%;
}

.scentsoul{
    background-image: linear-gradient(#FFFAE4,#feffded3);
    color: rgb(7, 82, 19);
    display: flex;  
    justify-content: center;        
    align-items: center;  
    padding: 30px 0;
}

.scentsoul-conteudo{
    width: 35%;
}
.scentsoul-titulo{
    padding: 24px 0;
}

